sudo: false
language: node_js
node_js:
  - '5'
  - '4'
  - '3'
  - '2'
  - '1'
  - '0.12'
  - '0.10'
after_script: NODE_ENV=test istanbul cover ./node_modules/mocha/bin/_mocha -- -R spec --timeout 30000 && cat ./coverage/lcov.info | ./node_modules/coveralls/bin/coveralls.js && rm -rf ./coverage
